/* Style for the treeview */
.treeview {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 50px;
}
 
.treeview li {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
} 

.treeview ul {
    list-style-type: none;
    padding-left: 20px;
    margin-left: 20px;
}

.treeview .name {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}
.heart {
    font-size: 30px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    padding: 0 10px;
}

.family-name {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}

/* Style for the folder icons */
.treeview img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 15px;
    background-color: #f2f2f2;
    margin: 20px;
}

.iconRight {
    margin-left: 20px;
}



.rotate {
    transform: rotate(90deg);
}

/* Style for nested folders */
.treeview .nested {
    /* max-height: 0; */
    margin-left: 50px;
    border-left: 2px solid black;
    overflow: hidden;
}

/* Style for folder text */
.treeview span {
    cursor: pointer;
}

/* Style for the folder icon when folder is opened */
.treeview .active {
    transform: rotate(90deg);
}



/* Điều chỉnh các kiểu khác theo nhu cầu */

.animated {
    animation: slideDown 0.5s ease-in-out;
}

/* animation slide down */
@keyframes slideDown {
    0% {
        height: 0 !important;
    }
    100% {
        height: 100vh !important;
    }
}
