

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 150px;
}

.home-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    margin: 1rem 0;
    background-color: rgb(244, 249, 253);
    border: 1px solid black;
    height: 350px;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}
.item a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
}
.wrap-img{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* warp-item id has large text */
.wrap-item {
    height: 100%;
    width: 60%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.img-family {
    height: 80%;
    padding: 10px;
    object-fit: cover;
    border-radius: 1rem;
}
 
.wrap-text {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;

}

.wrap-people {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}
.wrap-people .img-family {
    width: 150px;
    height: 150px;
}

.wrap-people .name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}   
.heart {
    width: 100px;
}

.wrap-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}


.banner {
    background-color: #f2f2f2; /* Màu nền cho banner */
    color: #333333; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
    padding: 15px 0; /* Thêm padding trên và dưới */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    font-family: 'Oswald', sans-serif; /* Phông chữ */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 200px;
    margin-bottom: 35px;
}

@keyframes scrollBannerText {
    0% { transform: translateX(80%); }
    100% { transform: translateX(-500%); }
}

.wrap-textBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    overflow: hidden;
}

.banner p {
    white-space: nowrap; /* Đảm bảo chữ không xuống dòng */
    display: inline-block; /* Cho phép chữ chạy trên cùng một dòng */
    margin: 0 50px; /* Khoảng cách giữa các dòng */
    animation: scrollBannerText 10s linear infinite; /* Áp dụng animation */
    font-size: 35px;
}

.banner-image {
    position: absolute;
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%);
    left: 10px; /* Đặt hình ảnh ở phía bên trái */
}

.banner-image img {
    width: 50px; /* Kích thước hình ảnh cho mobile */
    height: auto;
    width: 100px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}