

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 150px;
}

.home-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
    min-height: 300px; 
    overflow-y: auto; 

    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ */
    border: none; /* Loại bỏ viền */
}

.item a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
}
.wrap-img{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* warp-item id has large text */
.wrap-item {
    height: 100%;
    width: 60%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.img-family {
    height: 80%;
    padding: 10px;
    object-fit: cover;
    border-radius: 6rem;
}
 
.wrap-text {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.name {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    color: #177502; /* Màu nền */
    white-space: nowrap; /* Ngăn chặn chữ rớt dòng */
}

.wrap-text p {
    font-family: 'Comfortaa', cursive; /* Sử dụng phông chữ Comfortaa */
    font-size: 15px; /* Hoặc bất kỳ kích thước nào bạn muốn */
}
.highlight {
}

.age-value {
    color: #004d00; /* Màu xanh lá */
    font-size: 48px; /* Đặt kích thước chữ thành 38px */
    font-weight: bold; /* Làm cho chữ đậm */
}

.cause-of-death {
    width: 100%; /* Kéo dài từ bên trái qua bên phải */
    text-align: left; /* Căn chỉnh nội dung về phía bên trái */
    margin-top: 20px; /* Tạo khoảng cách phía trên, nếu cần */
    padding-left: 10px; /* Tạo padding bên trái để nội dung không dính sát vào viền */
    box-sizing: border-box; /* Đảm bảo width bao gồm cả padding và border */
}
.birth-date, .death-date {
    font-size: 3.2em; /* Tăng kích thước chữ */
    font-weight: bold; /* Làm cho chữ đậm */
}


.wrap-people {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}
.wrap-people .img-family {
    width: 150px;
    height: 150px;
}

.wrap-people .name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}   
.heart {
    width: 100px;
}

.wrap-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.banner-image img {
    width: 400px; /* Gấp đôi kích thước hoặc điều chỉnh theo nhu cầu */
    height: auto; /* Giữ tỉ lệ hình ảnh */
}

.banner {
    background-color: #f2f2f2; /* Màu nền cho banner */
    color: #333333; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
    padding: 15px 0; /* Thêm padding trên và dưới */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    font-family: 'Oswald', sans-serif; /* Phông chữ */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 200px;
    margin-bottom: 35px;
}
@keyframes scrollBannerText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.banner p {
    animation: scrollBannerText 5s linear infinite; /* Tăng tốc độ chạy */
}

.wrap-textBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    overflow: hidden;
}

.banner p {
    white-space: nowrap; /* Đảm bảo chữ không xuống dòng */
    display: inline-block; /* Cho phép chữ chạy trên cùng một dòng */
    margin: 0 50px; /* Khoảng cách giữa các dòng */
    animation: scrollBannerText 10s linear infinite; /* Áp dụng animation */
    font-size: 35px;
}

.banner-image {
    position: absolute;
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%);
    left: 10px; /* Đặt hình ảnh ở phía bên trái */
}

.banner-image img {
    width: 50px; /* Kích thước hình ảnh cho mobile */
    height: auto;
    width: 100px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}