body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.container {
    padding: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2em; /* Kích thước chữ nhãn */
}




.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 1em; /* Đệm lớn hơn */
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 2em; /* Kích thước chữ lớn hơn */
    margin-bottom: 1em; /* Khoảng cách giữa các trường */
}

.form-group input::placeholder {
    color: #a9a9a9; /* Màu sắc của chữ mờ */
    font-style: italic; /* Nghiêng chữ mờ */
}

#nationality {
    margin-left: 4rem;
}

#nationality option, #relationship option {
    font-size: 10px;
}

.action-buttons button {
    font-size:3em; /* Kích thước chữ lớn hơn */
    padding: 1em 2em;
    margin: 0.5em 0;
    width: 87%; /* Các nút chiếm gần toàn bộ chiều rộng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;

}

.cancel-btn {
    background-color: rgb(53, 53, 53);
}
.action-buttons {
    margin-top: 3rem;
}

.action-buttons .submit-btn {
    background-color: #01DD8B;
}

#upload_button {
    background-color: rgb(143, 143, 67);
    width: 80%;
    height: 80px;
    border-radius: 10px;
    padding: 10px 5px;

}

/* .sex {
    margin-top: -15px ;
} */
.gender-options {
    font-size: 25px;
}
.gender-options input[type="radio"] {
    font-size: 25px;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}


.upload-btn input[type="file"] {
    margin-bottom: 20px;
}

.action-buttons {
    text-align: center;
}

.action-buttons button:hover {
    background-color: darkgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Khoảng cách giữa các form-group */
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.form-row .form-group{
    padding: 0;
}

.form-row .form-group:first-child{
    padding-left: 10%;
}
.form-row .form-group:last-child{
    padding-right: 10%;
}




.gender-options {
    display: flex;
    flex-direction: column; /* Các tùy chọn giới tính hiển thị theo cột */
}

.checkbox-inline {
    margin-bottom: 5px; /* Khoảng cách giữa các hộp kiểm */
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
    .form-group {
        width: 100%;
    }
}
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group.half {
    flex: 1; /* Mỗi form-group sẽ chiếm một nửa chiều rộng của hàng */
    margin-right: 10px; /* Khoảng cách giữa các form-group */
}

.form-group.half:last-child {
    margin-right: 0; /* Không có khoảng cách bên phải cho form-group cuối cùng */
}

/* Thêm các định dạng cần thiết khác tương tự như đã được cung cấp trước đó */

.file-input {
    display: none; /* Ẩn nút chọn file thực */
}

.submit-btn {
    /* Đặt lại các thuộc tính của nút Đồng Ý */
    font-size: 18px;
    padding: 10px 20px;
}


.wrap-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.option {
    border-radius: 1rem;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #f2f2f2;

}
.option input[type="radio"] {
    width: 30px;
    height: 30px;
}

/* fix css */


.banner {
    background-color: #f2f2f2; /* Màu nền cho banner */
    color: #333333; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
    padding: 15px 0; /* Thêm padding trên và dưới */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    font-family: 'Oswald', sans-serif; /* Phông chữ */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 200px;
    margin-bottom: 35px;
}

@keyframes scrollBannerText {
    0% { transform: translateX(80%); }
    100% { transform: translateX(-500%); }
}

.wrap-textBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    overflow: hidden;
}

.banner p {
    white-space: nowrap; /* Đảm bảo chữ không xuống dòng */
    display: inline-block; /* Cho phép chữ chạy trên cùng một dòng */
    margin: 0 50px; /* Khoảng cách giữa các dòng */
    animation: scrollBannerText 10s linear infinite; /* Áp dụng animation */
    font-size: 35px;
}

.banner-image {
    position: absolute;
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%);
    left: 10px; /* Đặt hình ảnh ở phía bên trái */
}

.banner-image img {
    width: 50px; /* Kích thước hình ảnh cho mobile */
    height: auto;
    width: 100px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}


.wrap-search {
    position: relative;
}

.wrap-search .recommend {
    background-color: #efefef;
    border-radius: 1rem;
    margin:-.5rem 0 1.5rem 0;
    width: 100%;
}

.recommend {
    display: none;
}

.recommend ul {
    padding: .25rem 1rem;
}

.recommend li {
    padding: 1rem;
    border-bottom: 1px solid #f2f2f2;
    list-style: none;
}

.recommend li:hover {
    background-color: #f2f2f2;
}


