/* Reset some basic elements */
body, h1, h2, input, a, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
    text-decoration: none;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #a9a9a9;
    font-style: italic;
}

/* Apply a natural box layout model */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #f2f2f2; /* Màu nền cho banner */
    color: #333333; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
    padding: 15px 0; /* Thêm padding trên và dưới */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    font-family: 'Oswald', sans-serif; /* Phông chữ */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100px;
}

@keyframes scrollBannerText {
    0% { transform: translateX(80%); }
    100% { transform: translateX(-500%); }
}

.banner p {
    white-space: nowrap; /* Đảm bảo chữ không xuống dòng */
    display: inline-block; /* Cho phép chữ chạy trên cùng một dòng */
    margin: 0 30px; /* Khoảng cách giữa các dòng */
    animation: scrollBannerText 10s linear infinite; /* Áp dụng animation */
}
.wrap-textBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    overflow: hidden;
}

.banner-image {
    position: absolute;
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%);
    left: 10px; /* Đặt hình ảnh ở phía bên trái */
}

.banner-image img {
    width: 50px; /* Kích thước hình ảnh cho mobile */
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.nav-button {
    background-color: #ffffff; /* White color for buttons */
    color: #000000; /* Black text */
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #000000; /* Black border for buttons */
}


.update-button {
    background-color: #adadad;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 170px;
    right: 20px;
}

footer {
    background-color: #adadad;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0; /* Giảm giá trị này để các button cận sát top nền xám hơn */
    flex-wrap: wrap;
}


.icon-button {
    background-color: #ffffff; /* White background for buttons */
    color: #000000; /* Black text */
    padding: 10px; /* Tùy chỉnh nếu cần */
    margin: 10px; /* Giảm giá trị này để các button'*/
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center;
    justify-content: center;
    border-radius: 30px; /* Rounded corners */
    width: 130px; /* Width for square appearance */
    height: 130px; /* Height for square appearance */
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effect */
}

.icon-button:hover {
    transform: translateY(-5px); /* Slightly lift the button on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Increase shadow for a "lifted" effect */
}

.icon-button:active {
    transform: translateY(-2px); /* Slightly press the button down on click */
    box-shadow: 0 3px 6px rgba(0,0,0,0.3); /* Decrease shadow on press */
}

.icon-button img {
    width: 100%; /* Full width of button */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px; /* Rounded corners for images */
    pointer-events: none; /* Prevent image from reacting to mouse events */
}

.icon-text {
    display: block;
    width: 100%;
    text-align: center; /* Center the text */
    margin-top: 10px; /* Space between button and text */
    font-size: 1.60em; /* Adjust font size as needed */
    text-transform: uppercase; /* Viết hoa tất cả chữ */
}
.action-buttons {
    /* Thêm các quy tắc nếu bạn muốn căn chỉnh hoặc bố trí khác */
}

.cancel-btn, .submit-btn {
    font-size: 18px; /* Tăng kích thước chữ */
    padding: 10px 20px; /* Tăng kích thước nút */
    /* Thêm các quy tắc khác để thay đổi kiểu dáng nếu cần */
}


.footer-section {
    position: relative;
}
/* Căn giữa chữ "Từ Trần" và giá trị của nó, tạo khoảng cách 5px */
.death-date-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.death-label, .death-value {
    font-weight: bold;
}

.death-label {
    margin-bottom: 15px; /* Tạo khoảng cách 5px giữa chữ "Từ Trần" và giá trị */
}

.death-value {
    font-size: 33px; /* Làm cho giá trị này to hơn nếu bạn muốn */
}

/* Căn giữa chữ và giá trị của cả "Sinh" và "Từ Trần", tạo khoảng cách 5px */
.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-label {
    font-size: 15px; /* Thiết lập kích thước chữ cho "Sinh" và "Từ Trần" là 15px */
    margin-bottom: 5px; /* Tạo khoảng cách 5px giữa chữ và giá trị */
}

.date-value {
    font-size: 30px; /* Thiết lập kích thước chữ cho giá trị là 38px */
    font-weight: bold; /* Làm mập giá trị */
}

.wrap-text .birth-date {
    font-weight: bold; /* Làm mập chữ */
    font-size: 30px; /* Tăng kích thước chữ */
}


.notification {
    background-color: #5ee83f; /* Màu nền */
    color: #333333; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
    padding: 15px 0; /* Thêm padding trên và dưới */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    font-family: 'Oswald', sans-serif; /* Phông chữ */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 10px;
}


/* Reset và các quy định cơ bản không thay đổi */

/* Điều chỉnh cho giao diện PC */
@media (min-width: 1024px) { /* Giả định màn hình PC có độ rộng tối thiểu là 1024px */
    footer {
        background-color: #adadad;
        position: fixed;
        bottom: 0;
        left: 0; /* Điều chỉnh để nằm ở bên trái */
        height: 100vh; /* Chiều cao toàn màn hình */
        width: 13vh; /* Chiều rộng tự động dựa vào nội dung */
        display: flex;
        flex-direction: column; /* Sắp xếp các thành phần theo cột */
        align-items: left; /* Căn giữa các mục theo chiều ngang */
        justify-content: start; /* Bắt đầu căn các mục từ phía trên */
        padding: 10px 5px; /* Điều chỉnh khoảng cách lề */
    }


    .icon-button {
        margin: 15px 0; /* Khoảng cách giữa các nút */
        width: 80px; /* Giảm kích thước chiều rộng của nút */
        height: 80px; /* Giảm kích thước chiều cao của nút */
        display: flex;
        flex-direction: column; /* Để xếp nội dung theo chiều dọc */
        align-items: center; /* Căn giữa nội dung theo chiều ngang */
        justify-content: center; /* Căn giữa nội dung theo chiều dọc */
    }

    .icon-button img {
        width: 100%; /* Giảm kích thước hình ảnh xuống, phần trăm dựa trên kích thước nút */
        height: auto; /* Giữ tỉ lệ của hình ảnh */
    }

    .icon-text {
        font-size: 0.9em; /* Giảm kích thước phông chữ của văn bản */
        text-align: center; /* Căn giữa văn bản */
        margin-top: 10px; /* Khoảng cách từ hình ảnh đến văn bản */
    }
}