/* Reset some basic elements */
body, h1, h2, input, a, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #a9a9a9;
    font-style: italic;
}

/* Apply a natural box layout model */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #f2f2f2; /* Màu nền cho banner */
    color: #333333; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
    padding: 15px 0; /* Thêm padding trên và dưới */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    font-family: 'Oswald', sans-serif; /* Phông chữ */
    position: relative;
    overflow: hidden;
}

@keyframes scrollBannerText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.banner p {
    white-space: nowrap; /* Đảm bảo chữ không xuống dòng */
    display: inline-block; /* Cho phép chữ chạy trên cùng một dòng */
    margin: 0 50px; /* Khoảng cách giữa các dòng */
    animation: scrollBannerText 10s linear infinite; /* Áp dụng animation */
}

.banner-image {
    position: absolute;
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%);
    left: 10px; /* Đặt hình ảnh ở phía bên trái */
}

.banner-image img {
    width: 50px; /* Kích thước hình ảnh cho mobile */
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.nav-button {
    background-color: #ffffff; /* White color for buttons */
    color: #000000; /* Black text */
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #000000; /* Black border for buttons */
}

footer {
    background-color: #adadad; 
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap; /* Allows buttons to wrap to new line on small screens */
}

.icon-button {
    background-color: #ffffff; /* White background for buttons */
    color: #000000; /* Black text */
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center;
    justify-content: center;
    border-radius: 8px; /* Rounded corners */
    width: 68px; /* Width for square appearance */
    height: 68px; /* Height for square appearance */
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effect */
}

.icon-button:hover {
    transform: translateY(-5px); /* Slightly lift the button on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Increase shadow for a "lifted" effect */
}

.icon-button:active {
    transform: translateY(-2px); /* Slightly press the button down on click */
    box-shadow: 0 3px 6px rgba(0,0,0,0.3); /* Decrease shadow on press */
}

.icon-button img {
    width: 100%; /* Full width of button */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for images */
    pointer-events: none; /* Prevent image from reacting to mouse events */
}

.icon-text {
    display: block;
    width: 100%;
    text-align: center; /* Center the text */
    margin-top: 5px; /* Space between button and text */
    font-size: 0.75em; /* Adjust font size as needed */
    text-transform: uppercase; /* Viết hoa tất cả chữ */
}
.action-buttons {
    /* Thêm các quy tắc nếu bạn muốn căn chỉnh hoặc bố trí khác */
}

.cancel-btn, .submit-btn {
    font-size: 18px; /* Tăng kích thước chữ */
    padding: 10px 20px; /* Tăng kích thước nút */
    /* Thêm các quy tắc khác để thay đổi kiểu dáng nếu cần */
}
