{% extends 'base_authen.html' %}
{% load static %}

{% block title %}Trang Chủ{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="banner">
        <div class="banner-image">
            <img src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
        </div>
        <div class = "wrap-textBanner">
            <p>Đức Tin Công Giáo</p>
            <p>Nền Tảng Gia Đình</p>
            <p>Tự Hào Huyết Thống</p>
            <p>Vẻ Vang Dòng Tộc</p>
        </div>
    </div>
  
    <div class="content">
        <div class = "item">
            <div class = "wrap-img">
                <img class="img-family" src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
            </div>
            <div class = "wrap-text"> 
                <h2 class="name">Gia dinh hanh phuc</h2>
                                <p>18-03-2004</p>
            </div>
        </div>
        <div class = "item">
            <div class = "wrap-img">
                <img class="img-family" src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
            </div>
            <div class = "wrap-text"> 
                <h2 class="name">Gia dinh hanh phuc</h2>
                                <p>18-03-2004</p>
            </div>
        </div>
        <div class = "item">
            <div class = "wrap-img">
                <img class="img-family" src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
            </div>
            <div class = "wrap-text"> 
                <h2 class="name">Gia dinh hanh phuc</h2>
                                <p>18-03-2004</p>
            </div>
        </div>
        <div class = "item">
            <div class = "wrap-img">
                <img class="img-family" src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
            </div>
            <div class = "wrap-text"> 
                <h2 class="name">Gia dinh hanh phuc</h2>
                                <p>18-03-2004</p>
            </div>
        </div>
    </div>
{% endblock %}
