{% include request.user.is_authenticated|yesno:"base_authen.html,base_non_authen.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="banner">
        <div class="banner-image">
            <img src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
        </div>
        <div class = "wrap-textBanner">
            <p>Đức Tin Công Giáo</p>
            <p>Nền Tảng Gia Đình</p>
            <p>Tự Hào Huyết Thống</p>
            <p>Vẻ Vang Dòng Tộc</p>
        </div>
    </div>
  
    <div class="content">
        {% for person in data %}
            <div class = "item">
                <div class = "wrap-img">
                    <img class="img-family" src="{{ person.image }}" alt="Hình Ảnh">
                </div>
                <div class = "wrap-text"> 
                    <h2 class="name">{{ person.full_name_vn }}</h2>
                    <p class="birth-date">{{ person.birth_date }}</p>


                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
