{% extends '../base_authen.html' %}

{% load static %}

{% block title %}Trang Chủ{% endblock %}
{% block content %}

{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/genealogy.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/family.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>


<div class="banner">
    <div class="banner-image">
        <img alt="img" src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
    </div>
    <div class = "wrap-textBanner">
        <p>Đức Tin Công Giáo</p>
        <p>Nền Tảng Gia Đình</p>
        <p>Tự Hào Huyết Thống</p>
        <p>Vẻ Vang Dòng Tộc</p>
    </div>
</div>
<div class="genealogy-tree"> 
    {% comment %} {% for person in people %}
        <div class="generation">
            <div class="wrap-family">
                <div class="family">
                    <img src="" alt="img"mg class="img-family" src="{{ person.profile_picture }}" alt="Hình Ảnh">
                    <div class="child">{{person.full_name}}</div>
                    <div class="child">{{person.birth_date}}</div>
                </div>
            </div>
        </div>
    {% endfor %} {% endcomment %}

    <div class="treeview w-20 border">
        <h2 class="family-name pt-3 pl-3">Gia đình số 1</h2>
        <ul class="mb-1 pl-3 pb-2">
          <li>
            <i class="fas fa-angle-right iconRight"></i>
            <span><img src="" alt="" ></img><p class="name">Cha</p><p class="heart">&#10084;</p><p class="name">Mẹ</p><img src="" alt="" ></img></span>
            <ul class="nested animated" style="max-height:0px">
              <li><img src="" alt="" ></img><p class="name">Con thứ 1</p></li>
              <li><img src="" alt="" ></img><p class="name">Con thứ 2</p></li>
              <li><i class="fas fa-angle-right iconRight"></i>
                <span><img src="" alt="" ></img><p class="name">Con thứ 3</p><p class="heart">&#10084;</p><p class="name">Vợ thứ 3</p><img src="" alt="" ></img></span>
                <ul class="nested animated" style="max-height:0px">
                  <li><img src="" alt="" ></img><p class="name">Cháu 1</p></li>
                  <li><img src="" alt="" ></img><p class="name">Cháu 2</p></li>
                  <li><img src="" alt="" ></img><p class="name">Cháu 3</p></li>
                  <li><i class="fas fa-angle-right iconRight"></i>
                    <span><img src="" alt="" ></img><p class="name">Cháu thứ 4</p><p class="heart">&#10084;</p><p class="name">Vợ cháu 4</p><img src="" alt="" ></img></span>
                    <ul class="nested animated" style="max-height:0px">
                      <li><img src="" alt="" ></img><p class="name">Cháu 4.1</p></li>
                      <li><img src="" alt="" ></img><p class="name">Cháu 4.2</p></li>
                      <li><img src="" alt="" ></img><p class="name">Cháu 4.3</p></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <script>
        var treeviewSpanElements = document.querySelectorAll('.treeview span');
        treeviewSpanElements.forEach(function(spanElement) {
            spanElement.addEventListener('click', function() {
                var ulElement = this.nextElementSibling;
                if (ulElement) {
                    ulElement.style.transition = 'height 1s';
                    ulElement.style.maxHeight = (ulElement.style.maxHeight === '0px') ? `100vh` : '0px';
                    {% comment %} ulElement.classList.toggle('animated'); {% endcomment %}
                }
    
                var iconElement = this.querySelector('i');
                if (iconElement) {
                    iconElement.classList.toggle('rotate');
                }
            });
        });
      </script>
</div>
{% endblock %}
