{% extends '../base_authen.html' %}

{% load static %}

{% block title %}Trang Chủ{% endblock %}
{% block content %}

{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/genealogy.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/family.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>


<div class="banner">
    <div class="banner-image">
        <img alt="img" src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
    </div>
    <div class = "wrap-textBanner">
        <p>Đức Tin Công Giáo</p>
        <p>Nền Tảng Gia Đình</p>
        <p>Tự Hào Huyết Thống</p>
        <p>Vẻ Vang Dòng Tộc</p>
    </div>
</div>
<div class="genealogy-tree"> 
    <div class="treeview w-20 border">
          <li>
            <i class="fas fa-angle-right iconRight"></i>
            <span data-id={{data.husband.id}}><a href="/home/profile/?id={{data.husband.id}}"><img src="{{data.husband.img}}" alt="imgHusband" ></img></a><p class="name">{{ data.husband.name }}</p>
              {% if data.wife  %} 
              <p class="heart">&#10084;</p><p class="name">{{ data.wife.name }}</p><a href="/home/profile/?id={{ data.wife.id}}"><img src="{{data.wife.img}}" alt="imgWife" ></img></a></span>
              {% endif %}
             {% comment %} { {{ data.wife.name }} ? <p class="heart">&#10084;</p><p class="name">{{ data.wife.name }}</p><img src="{{data.wife.img}}" alt="imgWife" ></img></span> : null} {% endcomment %}
            {% comment %} <ul class="nested animated" style="max-height:0px">
              <li><img src="" alt="" ></img><p class="name">Con thứ 1</p></li>
              <li><img src="" alt="" ></img><p class="name">Con thứ 2</p></li>
              <li><i class="fas fa-angle-right iconRight"></i>
                <span><img src="" alt="" ></img><p class="name">Con thứ 3</p><p class="heart">&#10084;</p><p class="name">Vợ thứ 3</p><img src="" alt="" ></img></span>
                <ul class="nested animated" style="max-height:0px">
                  <li><img src="" alt="" ></img><p class="name">Cháu 1</p></li>
                  <li><img src="" alt="" ></img><p class="name">Cháu 2</p></li>
                  <li><img src="" alt="" ></img><p class="name">Cháu 3</p></li>
                  <li><i class="fas fa-angle-right iconRight"></i>
                    <span><img src="" alt="" ></img><p class="name">Cháu thứ 4</p><p class="heart">&#10084;</p><p class="name">Vợ cháu 4</p><img src="" alt="" ></img></span>
                    <ul class="nested animated" style="max-height:0px">
                      <li><img src="" alt="" ></img><p class="name">Cháu 4.1</p></li>
                      <li><img src="" alt="" ></img><p class="name">Cháu 4.2</p></li>
                      <li><img src="" alt="" ></img><p class="name">Cháu 4.3</p></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul> {% endcomment %}
          </li>
        </ul>
      </div>

      <script>
        const BE_HOST = "{{ API_URL|safe }}";
        function showUl(id) {
          event.stopPropagation();
          const li = document.getElementById(id);
          console.log(li);
          fetch(`${BE_HOST}/home/api/find-people-in-family/?id=${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                  console.log(data.data);
                  const ulElement = document.createElement('ul');
                  ulElement.classList.add('nested');
                  ulElement.classList.add('animated');
                  {% comment %} ulElement.style.maxHeight = '0px'; {% endcomment %}

                  let arr = ""
                  data.data.forEach(person => {
                      let liElement = `<li id="${person.husband.id}" onclick="showUl(${person.husband.id})" data-set="${person.husband.id}"><i class="fas fa-angle-right iconRight"></i><span">
                          <a href="/home/profile/?id=${person.husband.id}"><img src="${person.husband.img}" alt="img"></a>
                          <p class="name">${person.husband.name}</p>
                      </span>`
                      
                      if(person.wife){
                        liElement += `<p class="heart">&#10084;</p><span data-id="${person.wife.id}">
                          <p class="name">${person.wife.name}</p>
                          <a href="/home/profile/?id=${person.wife.id}"><img src="${person.wife.img}" alt="img"></a>`
                      }
                      
                      arr += liElement + "</li>";
                  });

                  ulElement.innerHTML = arr;
                  
                  let checkUl = li.querySelector('ul');

                  console.log(checkUl);

                  if (checkUl) {
                    checkUl.remove();
                  } else {
                    li.appendChild(ulElement);
                  }
                  

                  {% comment %} ulElement.style.maxHeight = (ulElement.style.maxHeight === '0px') ? `100vh` : '0px'; {% endcomment %}
                });

            
        }

        var treeviewSpanElements = document.querySelectorAll('.treeview span');
        treeviewSpanElements.forEach(function(spanElement) {
            spanElement.addEventListener('click', function() {
                fetch(`${BE_HOST}/home/api/find-people-in-family/?id=${spanElement.dataset.id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const ulElement = document.createElement('ul');
                    ulElement.classList.add('nested');
                    ulElement.classList.add('animated');
                    {% comment %} ulElement.style.maxHeight = '0px'; {% endcomment %}
    
                    let arr = ""
                    data.data.forEach(person => {
                        let liElement = `<li id="${person.husband.id}" onclick="showUl(${person.husband.id})" data-set="${person.husband.id}"><i class="fas fa-angle-right iconRight"></i><span">
                            <a href="/home/profile/?id=${person.husband.id}"><img src="${person.husband.img}" alt="img"></a>
                            <p class="name">${person.husband.name}</p>
                        </span>`
                        
                        if(person.wife){
                          liElement += `<p class="heart">&#10084;</p><span data-id="${person.wife.id}">
                            <p class="name">${person.wife.name}</p>
                            <a href="/home/profile/?id=${person.wife.id}"><img src="${person.wife.img}" alt="img"></a>`
                        }
                        
                        {% comment %} ulElement.appendChild(liElement); {% endcomment %}
                        arr += liElement + "</li>";
                    });

                    ulElement.innerHTML = arr;
    
                    if (spanElement.nextElementSibling) {
                        spanElement.nextElementSibling.remove();
                    } else {
                        spanElement.parentNode.appendChild(ulElement);
                    }
    
                    {% comment %} ulElement.style.maxHeight = (ulElement.style.maxHeight === '0px') ? `100vh` : '0px'; {% endcomment %}
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
            });
        })
        {% comment %} const observer = new MutationObserver(mutationsList => {
          treeviewSpanElements = document.querySelectorAll('.treeview span');
          console.log('DOM đã thay đổi');
        });
        
        const observerOptions = {
            childList: true, // Sự thay đổi trong nội dung con của phần tử
            subtree: true, // Theo dõi sự thay đổi trong tất cả các phần tử con, cháu, vv.
        };
        observer.observe(document.body, observerOptions); {% endcomment %}
      
    </script>
    
</div>
{% endblock %}
