{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/import_info_style.css' %}">
</head>
<body>
    <div class="banner">
        <div class="banner-image">
            <img src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
        </div>
        <div class= "wrap-textBanner">
            <p>Đức Tin Công Giáo</p>
            <p>Nền Tảng Gia Đình</p>
            <p>Tự Hào Huyết Thống</p>
            <p>Vẻ Vang Dòng Tộc</p>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group" style= "padding: 0 7%;">
            <div class="wrap-options">
                <div class= "option">
                    <img src="{% static 'images/family_tree.png' %}" alt="Hình Ảnh">
                    <label class="checkbox-inline">Nguyễn Thị Dương</label>
                    {% comment %} <input type="radio" id="option1" name="option1" value="option1" checked /> {% endcomment %}
                </div>
                <div class= "option">
                    <img src="{% static 'images/family_tree.png' %}" alt="Hình Ảnh">
                    <label class="checkbox-inline">Mạc Đinh Khang</label>
                    {% comment %} <input type="radio" id="option1" name="option1" value="option2"/> {% endcomment %}
                </div>
                <div class= "option">
                    <img src="{% static 'images/family_tree.png' %}" alt="Hình Ảnh">
                    <label class="checkbox-inline">Lê Hùng Bá</label>
                    {% comment %} <input type="radio" id="option1" name="option1" value="option3"/> {% endcomment %}
                </div>
                <div class= "option">
                    <img src="{% static 'images/family_tree.png' %}" alt="Hình Ảnh">
                    <label class="checkbox-inline">Nguyễn Thì Trường</label>
                    {% comment %} <input type="radio" id="option1" name="option1" value="option4"/> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="form-group">        
            <input type="text" id="full_name" name="full_name" placeholder="Nhập họ và tên">
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="birth_date">Ngày Sinh:</label>
                <input type="date" id="birth_date" name="birth_date">
            </div>
        
            <div class="form-group sex">
                <label>Giới Tính:</label>
                <div class="gender-options">
                    <label class="checkbox-inline">
                        <input type="radio" name="gender" value="true" checked> Nam
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="gender" value="false">Nữ
                    </label>
                </div>
            </div>
        
            <div class="form-group">
                <label for="death_date">Ngày Mất (nếu có):</label>
                <input type="date" id="death_date" name="death_date">
            </div>
        </div>
        <div class="form-group" style = "padding : 0 7%">
            <label for="relationship">Quan hệ:</label>
            <select id="relationship" name="relationship">
                <option value="Bà cố nội">Bà cố nội</option>
                <option value="Ông cố nội">Ông cố nội</option>
                <option value="Ông ngoại">Ông ngoại</option>
                <option value="Bà ngoại">Bà ngoại</option>
                <option value="Ông nội">Ông nội</option>
                <option value="Bà nội">Bà nội</option>
                <option value="Ba">Ba</option>
                <option value="Mẹ">Mẹ</option>
            </select>
        </div>
        <div class="form-group wrap-search">
            <input type="text" id="search" name="search" placeholder="Nhập tên người cần tìm kiếm">
            <div class="recommend">
                <ul id="warp-item">
                </ul>
            </div>
        </div>
        <div class="form-group">
            <input type="tel" id="phone_number" name="phone_number" placeholder="Nhập số điện thoại">
        </div>
    
        <div class="form-group">
            <input type="text" id="contact_address" name="contact_address" placeholder="Nhập địa chỉ liên hệ">
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="birth_place">Nơi Sinh:</label>
                <input type="text" id="birth_place" name="birth_place" placeholder="Nhập nơi sinh">
            </div>
            <div class="form-group">
                <label for="nationality">Quốc Tịch:</label>
                <select id="nationality" name="nationality">
                    <option value="">Chọn quốc tịch</option>
                    <option value="vietnam">Vietnam</option>
                    <option value="usa">Mỹ</option>
                    <option value="canada">Canada</option>
                    <option value="australia">Úc</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <input type="text" id="occupation" name="occupation" placeholder="Nghề nghiệp hiện tại">
        </div>        
        <div class="form-group">
            <textarea id="history" name="history" placeholder="lịch sử cá nhân"></textarea>
        </div>


        <div class="form-group">
            <input type="text" id="education_level" name="education_level" placeholder="Học vấn">
        </div>

        <div class="form-group">
            <textarea id="hobbies_interests" name="hobbies_interests" placeholder="Sở thích "></textarea>
        </div>

        <div class="form-group">
            <input type="text" id="social_media_links" name="social_media_links" placeholder="mạng xã hội">
        </div>
        
        <div class="form-group">
            <label for="profile_picture">Ảnh Đại Diện:</label>
            <input type="file" id="profile_picture" name="profile_picture" class="file-input">
            {% comment %} <button type="button" id="upload_button" class="submit-btn">Upload Ảnh</button> {% endcomment %}
        </div>
        
        <div class="action-buttons">
            <button type="submit" class="submit-btn">ĐỒNG Ý</button>
            <button type="button" class="cancel-btn">HỦY</button>
            {% comment %} 
            const sex = document.querySelector('input[name="gender"]:checked').value {% endcomment %}
        </div>
    </form>
        
    <script>

        const BE_HOST = "http://127.0.0.1:8080/"

        const recommend = document.querySelector('.recommend');
        const search = document.querySelector('#search');

        search.addEventListener('focus', function() {
            recommend.style.display = 'block';
        })
        search.addEventListener('blur', function() {
            if (!recommend.contains(event.relatedTarget)) {
                return;
            }
            console.log("ngoai")
            {% comment %} recommend.style.display = 'none'; {% endcomment %}
        })

        search.addEventListener('keyup', function() {
            fetch(`${BE_HOST}home/find-people/?name=` + search.value)
            .then(response => response.json())
            .then(data => {
                const wrapItem = document.querySelector('#warp-item');
                const arr = []
                data.data.forEach(item => {
                    arr.push(`<li id='item'>${item.full_name}</li>`)
                })
                if (arr.length === 0) {
                    arr.push(`<li>Không tìm thấy</li>`)
                }
                wrapItem.innerHTML = arr.slice(0, 5).join('');
            })

        })

        recommend.addEventListener('click', function(e) {
            if (e.target.id === 'item') {
                search.value = e.target.innerText;
                recommend.style.display = 'none';
            }
        })
        


        const url = `${BE_HOST}import-info/`

        const form = document.querySelector('form');
        form.addEventListener('submit', e => {
            e.preventDefault();
            const formData = new FormData(form);

            let option1Radios = document.querySelectorAll('input[name="option1"]'); 
            let option
            option1Radios.forEach(radio => {
                if (radio.checked) {
                    option = radio.value;
                }
            })

            let sexRadio = document.querySelectorAll('input[name="gender"]')
            let sex
            sexRadio.forEach(radio => {
                if(radio.checked){
                    sex = radio.value;
                }
            })

            const full_name = document.getElementById('full_name').value;
            const birth_date = document.querySelector("#birth_date").value;
            const death_date = document.querySelector("#death_date").value;
            const relationship = document.getElementById('relationship').value;
            const phone_number = document.getElementById('phone_number').value;
            const contact_address = document.getElementById('contact_address').value;
            const birth_place = document.querySelector("#birth_place").value;
            const nationality = document.querySelector("#nationality").value
            const occupation = document.querySelector("#occupation").value
            const history = document.querySelector("#history").value
            const education_level = document.querySelector("#education_level").value
            const hobbies_interests = document.querySelector("#hobbies_interests").value
            const social_media_links = document.querySelector("#social_media_links").value
            let profile_picture = document.querySelector("#profile_picture").files[0]
            if (profile_picture === undefined) {
                profile_picture = null
            }
            else {
                var reader = new FileReader();
                reader.onloadend = function() {
                    formData.profile_picture = reader.result
                }
                reader.readAsDataURL(profile_picture);
            }
            

            fetch(`${BE_HOST}/home/import-info/`, {
                method: 'POST',
                body: formData
            }).then(res => {
                alert('Đã thêm thông tin thành công!');
            }).catch(err => {
                alert('Lỗi! Kiểm tra lại thông tin nhập vào!');
            })    

        })

    </script>
</body> 
</html>