{% extends 'base.html' %}
{% load static %}

{% block title %}Trang Chủ{% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner-image">
            <img src="{% static 'images/we_are_aatholics.png' %}" alt="Hình Ảnh">
        </div>
        <p>Đức Tin Công Giáo</p>
        <p>Nền Tảng Gia Đình</p>
        <p>Tự Hào Huyết Thống</p>
        <p>Vẻ Vang Dòng Tộc</p>
    </div>

    <main>
        <body>
            <h1>Welcome to the Home Page</h1>
        </body>
    </main>
{% endblock %}
